<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Omni Go</title>
    <link rel="stylesheet" href="../../stylesheets/omnigo.css">
    <link rel="stylesheet" href="../../stylesheets/override.css">
    <link rel="stylesheet" href="../../stylesheets/app.css">
    <script type="module" src="../constant.js"></script>

    <!-- Vue -->
    <script type="module" src="./options.js"></script>

    <script src="./vue/vue.min.js"></script>
  </head>
  <body>
    <div id="app">
      <section class="section">
        <div class="container">
          <div class="columns">
            <div class="column">
              <h1 class="title has-text-centered ">Omni Go</h1>
              <span class="feedback"><a target="_blank" href="https://chrome.google.com/webstore/detail/omni-go/bblloooleipdhkaaahfdalafpjooecoc">Rate & Feedback</a></span>
            </div>
          </div>
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Add Keyword Shortcut
              </p>
            </header>
            <div class="card-content">
              <div class="add-new-keyword">
                <form class="field is-horizontal" id="createShortcutForm" v-on:submit="createShortcut">
                  <div class="field-body">
                    <input class="hidden" type="text" id="index">
                    <div class="field">
                      <div class="control">
                        <div class="select fw">
                          <select id="groupList" class="fw">
                            <option v-for="group in groups" v-bind:value="group.id" :selected= "group.name == 'Default'" >
                              {{group.name}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>                    
                    <div class="field">
                      <p class="control">
                        <input class="input" type="text" placeholder="Shortcut Name (e.g. 'Chrome')" id="keyname">
                      </p>
                    </div>
                    <div class="field">
                      <p class="control">
                        <input class="input" type="text" placeholder="Shortcut Keyword (e.g. 'cr')" id="keyword">
                      </p>
                    </div>
                    <div class="field is-grouped">
                      <p class="control is-expanded">
                        <input class="input" type="text" placeholder="URL (e.g. 'https://chrome.google.com/')" id="url">
                      </p>
                      <p class="control">
                        <button class="button is-primary" id="addShortcut" type="submit">
                          Add
                        </button>
                      </p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="card mt-5">
            <header class="card-header">
              <p class="card-header-title">
                Existing Keyword Shortcuts
              </p>
            </header>
            <div class="card-content">
              <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                  <tr>
                    <th align='left'>Group</th>
                    <th align='left'>Name</th>
                    <th align='left'>keyword</th>
                    <th align='left'>URL</th>
                    <th align='right'>Actions</th>
                  </tr>
                </thead>
                <tbody id="keywords-info">
                  <tr v-for="(shortcut, index) in getShortcuts" :key="shortcut.keyword">
                    <td class="hidden" id="index">{{index}}</td>
                    <td align='left'>{{getGroupName(shortcut)}}</td>
                    <td align='left'>{{shortcut.keyname}}</td>
                    <td align='left'>{{shortcut.keyword}}</td>
                    <td align='left'>{{shortcut.url}}</td>
                    <td align='right' class="last">
                      <img src="../../assets/icons/edit.svg" width="16" class="c-p" v-on:click="editShortcut" v-bind:data-index="index">
                      <img src="../../assets/icons/trashcan.svg" width="16" class="c-p" v-on:click="deleteShortcut" v-bind:data-index="index">
                      <img src="../../assets/extension-icons/icon16.png" width="16" class="c-p" v-on:click="goShortcut" v-bind:data-index="index">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card">
              <button class="button is-primary is-pulled-left mt8" v-on:click="openCreateGroupModal">Manage Groups</button>
            </div>
          </div>
          <div class="columns">
            <div class="column has-text-centered">
              <img src="../../assets/extension-icons/icon.png" class="footer-icon-offset">
              <div class="footer-content-offset"><strong>Omni Go is developed by <a target="_blank" href="https://github.com/Satalink">Satalink</a> (forked from <a href="https://github.com/vicch/keyword-speed-dial" target="_blank">Keyword Redirect</a>).<br>
                Source code is opensourced on <a target="_blank" href="https://github.com/Satalink/omni-go">Github</a>.</strong><br>
                <span class="is-small">Original Code by <a target="_blank" href="https://sasi.io/">Sasikanth Dronavalli</a></span></div>
            </div>
          </div>
        </div>
      </section>





      <div class="modal" id="modal-create-group">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Group Management</p>
            </header>
            <section class="modal-card-body">
              <header class="modal-card-head">
                <p class="card-header-title">Add Group</p>
              </header>
              <form class="field is-horizontal" id="createGroupForm">
                <div class="field-body">
                  <input class="hidden" type="text" id="index">
                  <div class="field">
                    <p class="control">
                      <input class="input" type="text" placeholder="Name (required)" id="groupName">
                    </p>
                  </div>
                  <div class="field">
                    <p class="control">
                      <input class="input" type="text" placeholder="Prefix (optional)" id="prefix">
                    </p>
                  </div>
                </div>
                <button class="button is-primary ml8" v-on:click="createGroup">Create</button>
              </form>
              <div class="content">
                <header class="modal-card-head">
                  <p class="card-header-title">Existing Groups</p>
                </header>
                <table class="table is-striped is-hoverable is-fullwidth">
                  <thead>
                    <tr>
                      <th>Group</th>
                      <th>Prefix</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody id="keywords-info">
                    <tr v-for="(group, index) in getGroups" :key="group.name">
                      <td v-bind:data-prefix="group.prefix">{{group.name}}</td>
                      <td v-if="group.prefix !== false">{{group.prefix}}</td>
                      <td v-else>---</td>
                      <td>
                        <img src="../../assets/icons/trashcan.svg" width="18" class="c-p" v-on:click="deleteGroup" v-bind:data-index="index">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>              
              <div class="field-body">
                <small class="text-muted">
                  <strong>Prefix:</strong> <i>Group</i> prefixes are prepended to the shortcut keywords assigned to the group.</br>
                  e.g. <span>Group: </span><code>Google</code> | Prefix: </span><code>g</code><br>
                  <span>with shortcut group members keywords of oo1, oo2, oo3</span><br>
                  <span>will become: </span><code>goo1</code>,<code>goo2</code>,<code>goo3</code>
                </small>
              </div><br>
              <div class="field-body">
                <small class="text-muted">
                  <strong>Name:</strong> Name of the group.
                </small>
              </div>
              <hr>
              <div class="field-body">
                </br>
                <small class="text-muted has-text-dark">
                  <strong class="has-background-warning">Warning:</strong> Deleting a <strong>Group</strong> will delete all keyword shortcuts assigned to that group. Edit and reassign any shortcuts you want to save to a new group before proceeding to delete a group.
                </small>
              </div>              
            </section>
            <footer class="modal-card-foot">
              <button class="button is-primary modal-hide" v-on:click="hideCreateGroup">Close</button>
            </footer>
          </div>
        </div>
    </div>
  </body>

</html>